[2020-06-22 10:22] nikunjtilva opened #19 "OCPP 2.0.1 support"
I see you are actively working on ocpp 2.0 branch. Since ocpp 2.0.1 was released in March this year are you already considering it? And compliments for a great work!!

[2020-06-22 21:58] lorenzodonini commented on #19
Hello and thanks for checking out my repo.

Yes, I am considering implementing all the fixes/improvements introduced in version 2.0.1 directly (official specifications recommend doing so). You might not see them in the code yet, as I was already working on the 2.0 implementation before 2.0.1 was released. In any case I will try support v2.0.1 out-of-the-box.

[2020-06-22 23:26] nikunjtilva commented on #19
Good to know this...Thanks for quick reply...

[2020-06-22 23:26] #19 closed

[2020-07-01 10:56] DerArtem opened #20 "updateStatus needs timestamp parameter"
I have tried to register ocpp-go to the Steve OCPP backend.

Currently the registration fails as Steve needs a valid timestamp:

`
[INFO ] 2020-07-01 10:34:31,150 de.rwth.idsg.steve.ocpp.ws.WebSocketLogger - [chargeBoxId=AM1, sessionId=7e7b0364-fa2e-9836-6a96-60c7a2cfabc3] Received: [2,"2854263694","StatusNotification",{"connectorId":0,"errorCode":"NoError","status"
:"Available","timestamp":"0001-

[2020-07-01 16:22] lorenzodonini commented on #20
Thanks for finding this.

According to OCPP 1.6 specifications, the timestamp field is optional. In my implementation it currently uses a "zero" timestamp in case the value isn't set, which is definitely a bug and will be solved by making it a pointer. Will work on the fix asap.

There is also the option of setting a default value when initializing the struct, but this could cause inconsistencies

[2020-07-02 12:38] lorenzodonini commented on #20
@DerArtem It would be nice if you could test the linked pull request and let me know, whether the problem is solved.

[2020-07-02 15:56] Houtmann opened #22 "Allow Many Pending Request"
Hi I think you should allow many pending Request, because a chargepoint can send two or more request in very close time, and and the server may be busy answering

`hasPendingRequest`

[2020-07-02 15:59] DerArtem commented on #20
Yes, it works. Now the StatusNotification is send without a timestamp.

[2020-07-02 16:39] lorenzodonini commented on #20
The `updateStatus` you see in the example is just a helper function, you don't necessarily have to use it.

Check out the implementation of that function [here](https://github.com/lorenzodonini/ocpp-go/blob/master/example/1.6/cp/handler.go#L282).

Normally, to send a `StatusNotification` with optional parameters you would do this:
[code]

It works the same for every request in which you want to pa

[2020-07-02 17:16] lorenzodonini commented on #20
@DerArtem I quickly added the same functionality to `updateStatus`, so you can now invoke it like this:
[code]

Let me know if this works for you, then I can merge the fix.

[2020-07-02 18:36] lorenzodonini commented on #22
Hey there,
it's on my backlog, I simply haven't had the time to implement it yet.

Originally I didn't add this feature because:
- adding a request queue leads to more problems (e.g. what to do if a connection breaks? someone would have to handle caching at that point)
- the protocol doesn't support concurrent requests by design, so each charge point is supposed to send requests sequentially
- kee

[2020-07-02 18:54] Houtmann commented on #22
Maybe I can try to help if i find time.
I have write real private OCPP client (in python) on chargepoint, and disconnected management it's important. In my company,a Chargepoint can operate offline and report events when the connection is resumed

[2020-07-02 20:38] DerArtem commented on #20
Yes, this looks great. Thanks!

[2020-07-03 06:24] #20 closed

[2020-07-03 19:23] lorenzodonini commented on #22
Sure, I wouldn't mind some help.

Let's split it into smaller features.
I will implement the message queue (because I know what code needs to be modified), which is also the topic of this issue.
For each follow-up issue, let's create a separate issue and branch.
Feel free to take a look at the PR I will create and also to submit PRs for any follow-up issues, in case you want to contribute directly

[2020-07-30 08:00] Houtmann commented on #22
I'll look forward to your pull request ;).
If you want contribution maybe, you can create some issues, and i will look :)

[2020-08-06 14:42] nikunjtilva opened #27 "websocket: bad handshake for OCPP 2.0"
Hi,

I try to create and example for OCPP 2.0 with ocpp2.0-features branch. When i try to connect  to CSMS from CS it throws `websocket: bad handshake` error.

Here is sample CSMS and CS code

**cs.go**

[code]

**csms.go**
[code]

I have not set any handler yet. But i assume it should connect without handler.

I am able to run ocpp1.6 example without any issue.

[2020-08-06 15:15] lorenzodonini commented on #27
You need to set a non-empty `listenPath` when starting the CSMS server.

There is no default handler if you pass an empty string. I recommend doing it exactly as in the 1.6 example, so pass `/{ws}`. Worked for me.

Btw, I just rebased the branch on master, since there are a few improvements in the `ws` package, such as basic auth and certificate handling (check out the docs for more info).

**The

[2020-08-06 16:25] nikunjtilva commented on #27
Hooray... It worked... Thanks a lot for super fast response... Yes i am fully aware of this branch is WIP. We will be in a position to contribute after sometime. If you have any roadmap where we can see completed and missing features we can plan accordingly to contribute.

[2020-08-06 16:25] #27 closed

[2020-08-29 16:35] lorenzodonini commented on #22
@Houtmann feel free to check out https://github.com/lorenzodonini/ocpp-go/pull/29.
The PR is quite big, since I had to update lots of tests and the examples. The new functionality can be found entirely within:
- occpj/server.go
- occpj/client.go

Like I mentioned in the description, there's still a few limitations, which I would update in a separate PR. I should be able to do that in the coming we

[2020-09-27 17:57] Houtmann commented on #22
I watched the pull request,
my idea may be too late, but why not bring the line up to the level of the `websocket` ?
so the queue is the same for all types of messages (CALL, CALL_RESULT)

[2020-09-28 10:50] lorenzodonini commented on #22
I thought about it, but by queuing everything within the `websocket` package/layer, you lose important information about the message (e.g. the message ID). This information is needed when getting a response, since the response needs to be matched to the original request.
Information about the original request needs to be saved inside the ocppj layer anyways, so might as well handle the queue there

[2020-10-03 17:21] Houtmann commented on #22
no you hadn't forgotten anything, it's my misinterpretation.
I think I can close this issue

[2020-10-09 08:51] shengxiang200788 opened #33 "The ocpp2.0.1 docker image"
Hi, may I ask if you have the plan of getting the ocpp2.0 docker image available?

[2020-10-11 13:05] lorenzodonini commented on #33
Hey, the plan is to release the OCPP 2.0.1 docker images exactly as I did for 1.6 already.

I'm slowly working on adding all the 2.0.1 features, so that's why you haven't seen an image published yet. I could release one anytime, if needed, but there will be some features missing, so it's probably not in your best interest.

[2020-10-25 08:55] #22 closed

[2020-10-30 12:58] andig opened #35 "No Boot response from CS in 1.6 Docker?"
I've just tried to use https://github.com/voltbras/go-ocpp with the CS docker image. When CP sends BootNotification, it never receives a response. Could you confirm if that is the expected behavior?

[2020-10-30 13:48] andig opened #36 "Running CP against CS crashes CS"
I'm running the CP against the CS from this repo and CS crashes after a couple of seconds:

CS:

        ❯ gor github.com/lorenzodonini/ocpp-go/example/1.6/cs
        INFO[2020-10-30T14:06:32+01:00] no valid SERVER_LISTEN_PORT environment variable found, using default port
        INFO[2020-10-30T14:06:32+01:00] starting central system on port 8887
        INFO[2020-10-30T14:06:44+01:00] new clien

[2020-10-30 13:54] andig commented on #36
UPDATE: Reason is nil TransactionId being dereferenced in https://github.com/lorenzodonini/ocpp-go/blob/master/example/1.6/cs/handler.go#L89

[2020-10-30 15:16] lorenzodonini commented on #36
You have a very good point there.

I pushed a hotfix and removed the optional TransactionID from the log statement in the Central System handler, which was causing the crash.

[2020-10-30 15:27] lorenzodonini commented on #35
This is definitely not intended. Can you confirm whether the CS received the request and also sent the response correctly?

I have never tested this with eduhenke's implementation, but I can confirm the whole flow was working fine with other commercial implementations (tested during OCPP 1.6 plugfest last July).

If you can provide me with some logs/setup info I can look into it.

[2020-10-30 16:20] andig commented on #35
I'm currently not sure if eduhenke is really functional. I'll retry with a client based on this repo and will double-check. Sorry for the noise.

[2020-10-31 14:44] andig commented on #35
Closing until I can repro with cp from this repo. Thank you!

[2020-10-31 14:44] #35 closed

[2020-10-31 15:29] lorenzodonini commented on #36
I merged the bugfix to master. If you pull the latest docker images, you will see the correct behavior.

[2020-11-02 15:34] andig commented on #36
Confirmed fixed, but there are a couple of follow-on errors in `exampleRoutine`. Whenever the client returns

    cannot handle call from central system. Sending CallError instead

the CS will crash inside the callback handlers as confirmation will be `nil`. Could be solved by wrapping each callback handler inside a `nil` handler.

[2020-11-02 16:04] andig opened #38 "Howto implement error handling?"
Once the CP has successfully started (error=nil) its not entirely clear how to track it's status or restart the client should it become disconnected?

**UPDATE**:

Here's an example where the CP closes when it's not happy with the CS message:

[code]

How would I handle that in my client code?

[2020-11-02 16:05] andig opened #39 "Abstract sirupsen/logrus for the core CP library"
It would be great if logging were configurable, i.e. a custom logger could be injected.

[2020-11-02 18:09] lorenzodonini commented on #38
Right, so I haven't implemented automatic reconnect yet, but it's on the top of my ToDo list (along with completing v2.0.1).

I like the idea of having a seamless experience, where the dev doesn't have to worry about re-connecting or checking for connection network errors.
Ideally you call:
[code]
and get an `err != nil` only if the initial connection failed. Otherwise the function returns right a

[2020-11-02 18:37] andig commented on #38
I‘m wondering what to do in the current state. Having start return an error is fine, I can handle the retries. However- what happens with intermediate errors, e,g. Connection dropped at a later time? Does start return then? If yet it would probably more be a „run“ method than „start“?

IMHO start should indeed return immediately when the initial connection cannot be established as that might very

[2020-11-02 18:38] andig commented on #38
Btw, really appreciate your answers and the work you‘ve put into this library! I‘m trying to integrate it into https://github.com/andig/evcc, so the questions are coming from real-world use cases ;)

[2020-11-02 18:43] andig commented on #39
I could create a PR for a small logrus abstraction but would need help feeding it into the whole setup.

[2020-11-02 19:14] andig commented on #39
A default logger interface could look something like this:

	var Log Logger

	type Logger interface {
		Print(v ...interface{})
		Printf(format string, v ...interface{})
		Debug(v ...interface{})
		Debugf(format string, v ...interface{})
		Info(v ...interface{})
		Infof(format string, v ...interface{})
		Warn(v ...interface{})
		Warnf(format string, v ...interface{})
		Error(v ...interface{})
		Er

[2020-11-02 19:36] lorenzodonini commented on #39
Yes, that is a very good point.

I'd actually love an opinion on this one, since there is another imho valid approach, compared to the one you posted:
[code]

And an application would just have to hook it up like this:
[code]

It's less flexible but very minimal, and does not require any further implementation.

What do you think?

[2020-11-02 19:42] andig commented on #39
I'd honestly prefer a more minimal logging interface- the ability to differentiate from trace to fatal seems important though.
I'm not sure why you need two different ones?

Something like this would be somewhat minimal:

	type Logger interface {
		Print(v ...interface{})
		Printf(format string, v ...interface{})
		Debug(v ...interface{})
		Debugf(format string, v ...interface{})
		Info(v ...inter

[2020-11-02 19:49] lorenzodonini commented on #38
Thanks for checking this out then 😄 I'm very open to suggestions in general to make this a better library.
I was also thinking of adding some hooks for metrics, logging, caching etc. later on, so now you've given me a valid reason.

[2020-11-02 19:54] lorenzodonini commented on #38
Regarding your question: as I said there is no automatic reconnection right now, so you will have problems in real-world use-cases.

I'll work on adding that feature right away, so you can actually use the library as intended. Would you like a callback via channel like in the influxdb client?

[2020-11-02 20:37] lorenzodonini commented on #39
Well, the library itself should not really throw anything other than errors or debug information. There might be some more levels showing up right now, but that can be optimized.

Anyways, feel free to add your suggested solution. Do you want me to add you as a collaborator? So you can branch from here directly and I can help out adjusting the existing log statements.

[2020-11-02 20:53] lorenzodonini commented on #36
Can you send me an example, where this crashes? I thought I was checking for errors for every message sent by the central system.

[2020-11-03 07:59] andig commented on #39
Imho you don't need

[code]

It's usual for a logger to support the plain and formatted version afaiks.

Imho there are 3 reasons of logging (i.e. error handling in context of this library):
1. synchronous errors - these should be returned, caller should handle (logging is handling)
2. intermediate errors that can be retried internally - these might either be logged (need a logging abstraction the

[2020-11-03 08:07] andig commented on #38
Understood and I don't have any problem with that as long as `Start` will return when such an error happens. I couldn't figure out if that's the case. If the error is swallowed internally and `Start` continues running without caller being able to restart, that is indeed a problem.

The influx case is targeted at logging, everything else is retry inside the influx client. We need a clean way not on

[2020-11-03 12:20] lorenzodonini commented on #38
I will document the architecture at a later stage, but to put it very simply, the library has 3 layers:
1. websocket
2. ocpp-j
3. the actual ocpp message handling

Errors may originate on all three layers, but I would still group them in 2 main categories:
- message-related errors (validation etc.), which are ALWAYS forwarded to the caller (either synchronously or asynchronously, depending on the

[2020-11-03 12:34] andig commented on #38
Ok, that's required. If `Start` does not return, we'll also need an exposed `Reconnect` method or- as you've planned- an internal recovery mechanism.

At the current status I could also `Stop` the CP which should cause `Start` to return? Anyway we'd need a way to get out of that `Start` once the network is dead.

[2020-11-03 12:40] lorenzodonini commented on #38
I guess there was a misunderstanding, so let me clarify:
- If initial connection succeeds, `Start` returns right away with a `nil` error. The internal read/write routine is run a in a dedicated goroutine. The calling thread is free to do what it wants. Further network errors (disconnections) are indeed swallowed and I would use an internal recovery mechanism to solve those.
- If initial connection

[2020-11-03 12:43] lorenzodonini commented on #38
This is the described behavior: https://github.com/lorenzodonini/ocpp-go/blob/master/ws/websocket.go#L576

[2020-11-03 13:33] andig commented on #38
Thanks for the clarification, especially about the `Start` behaviour. I've just found https://github.com/maurodelazeri/gorilla-reconnect which might help.

I think we can close this issue in favour of implementing a reconnect logic then?

[2020-11-03 13:35] andig commented on #36
It's the CP sending that crashes the example CS (actually that's another issue than the first one that you've fixed already).

All these callbacks here https://github.com/lorenzodonini/ocpp-go/blob/master/example/1.6/cs/central_system_sim.go#L83 will crash when the confirmation is nil due to the CP replying with an error message.

[2020-11-03 13:38] lorenzodonini commented on #38
Sure, I'll work on the auto-reconnect logic!

[2020-11-03 13:53] #38 closed

[2020-11-08 17:32] andig commented on #39
I'll make a suggestion for the core library.

[2020-11-08 18:18] lorenzodonini commented on #36
That is intended. A CS sends message asynchronously, so the callback contains both the response (in case there was no error) and the error. It's up to the caller to check whether `err != nil`.

So the CP doesn't actually crash the CS, it's the application that should check for errors (as you can see in the example).

[2020-11-08 18:47] andig commented on #36
The example cs panics. That cannot be intended?!

[2020-11-08 21:17] lorenzodonini commented on #36
Doesn't panic on latest docker images 🤔

[2020-11-09 09:26] andig commented on #36
I don‘t want to sound like a know-better, but you‘ve fixed the transaction id panics, but not the confirmation nil panics afaiks. I‘ll try to repro again to demonstrate.

[2020-11-10 09:57] andig commented on #36
Here's a another one on StatusNotification. This is, again, against `head`:

[code]

[2020-11-10 10:37] lorenzodonini commented on #36
Ok, now I see what you mean. Thanks for the trace.

I presume you're using a different charge point implementation/version though, because with the latest docker images I do not get any crashes (mainly, because no errors are ever returned by the charge point sample implementation).

As I mentioned before, the confirmation objects are still supposed to be `nil` by design, whenever there is an error

[2020-11-10 11:43] andig commented on #39
Suggestion is done, just added the websocket library as well. If this is the direction you want to go in I can see these points:
- validate ich client/server and websocket error handling should be connected
- validate if client/server error handler should be a richer type (struct something)
- update examples to use the error handler
- update readme

[2020-11-10 11:45] andig opened #41 "Network error handling missing"
As noted in the code: once a CP/CS was connected to, errors are not fully handled:
- no reconnection or stopping
- no timeout notification (could be asynchronously added based on #40)

[2020-11-10 12:09] andig commented on #41
Note: after websocket times out, the entire connection is corrupted, see https://github.com/gorilla/websocket/issues/474

[2020-11-12 18:49] lorenzodonini commented on #36
Solved those panics in #42. Feel free to checkout that branch and give it a try.

[2020-11-14 12:53] paulhobbel opened #44 "Charge point disconnects after 1 minute"
Due to the way the pongWait is hardcoded in the ws server there is no way for me to increase the ping rate.
The charge points we use ping every 2 minutes. I suggest to make this configurable, for now I've copied over the ws server and modified the code to accept pings every 2 minutes

[2020-11-16 20:30] lorenzodonini commented on #44
You have a good point there. Working on making this easily configurable.

[2020-11-19 08:22] lorenzodonini commented on #44
@paulhobbel I created a PR with support for websocket timeout configuration.

Feel free to check out https://github.com/lorenzodonini/ocpp-go/pull/46 and leave some feedback.

[2020-11-22 16:30] #39 closed

[2020-11-23 21:07] lorenzodonini opened #47 "Use custom error structs in websocket package"
Follow-up to #40

Errors sent over the `errC` channels in `WsServer` and `WsClient` are currently basic errors.

In some cases errors should be structs, containing some additional info, such as:
- client ID
- operation? (ping, write, close, ...)

Any struct will still be sent as an error, therefore not breaking the API. Channel consumers, however, may optionally perform type assertion and access t

[2020-12-01 00:35] paulhobbel commented on #44
This does exactly what I need it to do 👍

[2020-12-01 00:35] #44 closed

[2021-02-16 12:06] SerzhSergeev opened #51 "Contribution to OCPP 2.X"
Hi guys!
@lorenzodonini I'm wondering if you have any roadmap/plan for integration latest OCPP 2.0 in this repository.
As far as I see the version 2.0 only stating here. I'd like to discuss it with you and maybe help from my side with that OCPP, please contact me if you're keen to sync on it.

[2021-03-16 06:38] anastasiyaIlyushko opened #52 "ParseRawJsonMessage fatal app"
Hi!
Fix ParseRawJsonMessage return error instead fatal in https://github.com/lorenzodonini/ocpp-go/blob/master/ocppj/ocppj.go#L170 please

[2021-03-17 19:22] lorenzodonini commented on #52
Hey, thanks for reaching out.

I have fixed this already in my current working branch.
Will merge it soon and update you.

[2021-03-17 19:29] lorenzodonini commented on #51
Hey and thanks for reaching out.

You can check the [ocpp2.0-features](https://github.com/lorenzodonini/ocpp-go/tree/ocpp2.0-features/ocpp2.0) branch to see the current status. I'm planning on finishing the implementation of v2.0.1 soon and then release an alpha version.

You are of course welcome to send me a pull request, in case you want to implement some of the messages yourself. It's a bit of

[2021-03-24 14:29] andig opened #54 "Shouldn't use errors"
In https://github.com/lorenzodonini/ocpp-go/commit/ca11385f43267ce85e31c58343aaf18c39b0a457#diff-a39f6425f40fcc72579d309f8803af9677d6ae6ce92376a6214f339d42ea5050R9 the errors package is deprecated. Imho `fmt.Errorf` is the standard library's way to go

[2021-03-24 14:34] #36 closed

[2021-04-07 19:32] lorenzodonini opened #57 "Central System concurrent requests"
Callbacks currently get overwritten, in case a further request to the same Charge Point is sent, before the response to a previous one was received.

This may be solved by using a very simple callback queue, as a follow-up work to https://github.com/lorenzodonini/ocpp-go/pull/56.

[2021-04-09 15:05] meriororen opened #59 "scalabillity suggestion question"
Hi,

Thanks for developing this library, it's been very useful!
I have a question or rather asking for suggestion. Right now I'm using this library directly with backend server that serves REST API requests, So for example, we just call "RemoteStartTransaction" request in this library directly when a call to a REST API come. The problem with this approach is it's not scalable, since the websocket

[2021-04-10 10:59] #54 closed

[2021-04-10 11:00] lorenzodonini commented on #54
I didn't know the errors package is deprecated (huge changes introduced in 1.13), also haven't found that info anywhere. Any source?

In any case, I replaced all `errors` invocations with `fmt.Errorf` to have a consistent approach.

Closing this one.

[2021-04-14 18:34] #57 closed

[2021-04-14 19:24] michaelbeaumont opened #64 "Callback in central system/charge point function arguments"
What do you think about moving the callbacks to be the last argument? I think the code (when using `gofmt`) is much more readable and callbacks last is typical of callback-based APIs.

[2021-04-18 10:40] lorenzodonini commented on #52
Solved in commit 6e08a29 and merged to master already. Will create a release with all the latest changes and improvements soon.

[2021-04-18 10:40] #52 closed

[2021-04-21 07:26] utsavanand2 opened #66 "RemoteTriggers / GetConfiguration and ChangeConfiguration stop working after invoking the charging station after a while"
Hi @lorenzodonini , a big thank you to all of the contributors for building this library, I've been using your library and a forked version of it (specifically to get local times instead of UTC) for about a month now.

## The Problem
I've been seeing an issue with remote triggers since the beginning where the charging station remains connected to my CSMS, sends regular `StatusNotification` and `He

[2021-04-21 08:46] utsavanand2 opened #67 "Panic when TriggerMessage and Change/Get Configuration are called at the same time"
## panic: interface conversion: ocpp.Response is *core.ChangeConfigurationConfirmation, not *remotetrigger.TriggerMessageConfirmation

## The Problem
I've have a cron job that sends a `TriggerMessage` request to the charging station every 30 seconds, I also have a rest API that can call `ChangeConfiguration` and `GetConfiguration` on the charging station.
When either the cron job or the REST API i

[2021-04-21 15:10] utsavanand2 commented on #67
Closing this issue as it is fixed with the latest commits to this repo. Thanks a lot!

[2021-04-21 15:10] #67 closed

[2021-04-21 16:21] lorenzodonini commented on #67
Hey there,

yes this was a bug we found out recently.
There's a similar bug on the charge point counterpart, which I've fixed and will merge soon.

[2021-04-21 16:36] lorenzodonini commented on #66
Hey, I will need a few more info:
1. Are you using the same lib both for CSMS and Charging Station?
2. By `cannot trigger` you mean the function call hangs, or it never reaches the other endpoint?
  - if it does indeed reach the other endpoint and you are sure the charging station replies, I can investigate whether the reply might've gotten stuck somewhere
3. Have you tried sending other messages

[2021-04-21 16:58] utsavanand2 commented on #66
Hii @lorenzodonini. Thanks for such a quick response.

As for your queries:
1. The CSMS is using this ocpp-go library, but I'm not aware of the the library used by the Charging Station, but I can be sure that its definitely not ocpp-go.
2. The function call just hangs, so as a temporary fix I've added deadline context cancellation so it doesn't hang forever. Though I continue to receive other mess

[2021-04-21 19:41] utsavanand2 commented on #67
Thanks a lot 🌟

[2021-06-07 07:24] utsavanand2 commented on #66
Hi @lorenzodonini
I hope you're doing great. I was wondering when can we get to see the next stable release of the latest changes that have been made after the last release.

[2021-06-20 14:32] lorenzodonini commented on #66
Hey and sorry for the late reply. I've been trying to reproduce your issue, but no luck.

The `RemoteTrigger` works as any other message (the underlying dispatching mechanism doesn't care which message is being sent), so I would expect the library eventually hang regardless of the used message. Although I have seen some occasional race conditions (some of them have been fixed and some other and be

[2021-06-24 00:02] ahmadfarisfs commented on #66
Yeah, i'm having the same thing but its on RemoteStartTransaction (this function call sometimes stuck) and my workaround is to restart. But it's very hard to reproduce :(

[2021-06-27 13:33] lorenzodonini commented on #66
I've merged that PR now. It covers only the case, in which the client disconnected using the `Stop` method, while you were sending a request (regardless of which type of request). Only in that case, the calling goroutine would hang.

Please keep in mind that the `SendRequest` method is synchronous blocking and will block, until a response or an error was received, so if the connection broke for ot

[2021-06-29 09:04] sea-blorin opened #100 "Remote Start Transaction"
It is possible from CS, starts the Remote Transaction?

[2021-07-02 10:23] 19augello commented on #100
I too have encountered the same problem, also I would like to understand how to integrate the reading of MeterValues in the example script

[2021-07-04 17:15] lorenzodonini commented on #100
The central system can request a charge point to start a transaction using a `RemoteStartTransactionRequest` message.
The library itself only transports the messages though. It is up to your application to actually start the transaction on the charge point.

The exact intended behavior is described in the OCPP specs, and summarized in the [library's godoc](https://pkg.go.dev/github.com/lorenzodoni

[2021-07-04 17:45] lorenzodonini commented on #100
Are you referring to https://github.com/lorenzodonini/ocpp-go/blob/master/example/1.6/cs/handler.go#L90?

The example is not meant to give you a full implementation, but just to show you the boilerplate code, so you can easily start your own implementation. It is up to your central system to read the meter values, received from the charge point, and handle them how you see fit (write to a DB, send

[2021-07-07 09:11] xBlaz3kx opened #101 "NewGetConfigurationConfirmation does not have UnknownKey as function argument"
I have the latest version (v0.14.0) and I've noticed there's an missing argument UnknownKey in core.NewGetConfigurationConfirmation, when handling the CSMS' GetConfigurationRequest.

Also, I've noticed the documentation mentions the wrong response message.

![image](https://user-images.githubusercontent.com/22869613/124732460-809bd100-df13-11eb-93fb-075846c08c3b.png)

[2021-07-07 09:57] selislamp commented on #100
How I can try the "Unlock connector" remotly?

[2021-07-08 13:46] lorenzodonini commented on #100
Like this:
[code]

[2021-07-08 15:24] selislamp commented on #100
Thanks

[2021-07-09 16:39] lorenzodonini commented on #101
Hello, optional values are not within the constructor method signature (this was done on purpose throughout the library, since several messages have a ton of optional values, which many might not care about).

If you wish to set the `UnknownKey` field, you can simply set it after creating the `GetConfigurationConfirmation` struct. All message fields are exported and you may set/modify them at will

[2021-07-17 09:49] daviid5 opened #103 "Issue with Websockets using Browser Chargepoint Simulator?"
I'm starting to integrate ocpp-go in my own application.
For testing I wanted to use one of the HTML/JS chargepoint simulators.

So I'm running the example/1.6/cs application on my pc, if I run also the examples/1.6/cp simulator everything works.
The simulated chagrpoint registers in the central system example, and so on.

I'm for example tried this one:
https://github.com/zzerk/OCPP-ChargePoint-S

[2021-07-17 16:22] lorenzodonini commented on #103
Hello, I just tested this out locally and the browser is sending out an `Origin` header, which makes the websocket upgrade fail with `websocket: request origin not allowed by Upgrader.CheckOrigin`.

The library allows you to use a custom CORS handler for you websocket server, by using this method https://github.com/lorenzodonini/ocpp-go/blob/master/ws/websocket.go#L302.
So, for example, you could

[2021-07-17 16:29] daviid5 commented on #103
Hi, thank you for your fast response.
Sorry for the dumb question, but where should I add the code for the handler you posted above?

Do you could suggest other simulators which don't have this problem?
Prefereable with kind of gui, so I don't have to script to much?

[2021-07-17 17:04] lorenzodonini commented on #103
The easy way to do it would be:
[code]

I haven't really used other GUI-based simulators. Maybe you can give https://github.com/nenecmrf/OCPP-J-CP-Simulator a shot?

Just as a side-note, since you are running simulators in the browser: afaik the default websocket library in Javascript doesn't support sending ping messages. The library, however, expects the clients to send pings, and not the other

[2021-07-19 08:51] daviid5 commented on #103
Thank you!
I tried the https://github.com/nenecmrf/OCPP-J-CP-Simulator already, it spits out quite a few Javascript errors (beside that, the https://github.com/zzerk/OCPP-ChargePoint-Simulator simulator is a fork from https://github.com/nenecmrf/OCPP-J-CP-Simulator)
Currently I'm using the chargepoint example from you ocpp-go repo to simulate.
Working fine so far.

But I encountered another intere

[2021-07-24 10:12] VHariharmath opened #106 "Query about 3 tier model and how it is implemented in ocpp2.0.1"
Hello @lorenzodonini

My query is how you are planning to adopt 3 tier model in the `ocpp2.0.1`  implementation?

According to the below definition
[code]
ID gives the charging station id and do we also have a similar struct for chargePointConnection also to browse through different charge points?

[2021-07-25 08:51] lorenzodonini commented on #106
Hello,

`ChargingStationConnection` is just an interface for wrapping some useful charging stations' properties, apart from the ID, and allow the CSMS to retrieve them at runtime (before, the library only used to pass the `id` of the charging station, but this is definitely more extensible).

`ChargePointConnection` is used in ocpp1.6 (since the naming was different), but it follows the same reaso

[2021-07-25 08:59] lorenzodonini commented on #103
Let's say it's a bit of both. The original idea was to return the full websocket path (starting from the slash), in case a vendor needs it for whatever reason. This is obviously a bit annoying, since you have to strip the prefix.

The upcoming v.0.15.0 release fixes this and only the actual ID of the charge point will returned (in your example, `cp123`).

[2021-07-26 06:39] VHariharmath commented on #106
Thanks much for the reply and it solves the doubt.

We get the `chargingStation` from the list of `charingStations` and can maintain the hierarchy (`chargingPoint` and `connector`) as part of map.

Hope my understanding is right

[2021-07-28 05:00] #106 closed

[2021-07-30 12:46] utsavanand2 commented on #66
Hi @lorenzodonini ! Thanks for the improvements around the library and the new release!
I was keen on knowing if this issue would resolve this issue, but its was the same behaviour with our charging station, especially when they are connected with Wifi (with around 90% error rate) and with ethernet its a lot better (around 5-10% error rate).
So I used the library and created a charging station emu

[2021-08-01 18:41] #101 closed

[2021-08-02 06:29] lorenzodonini commented on #66
Thanks @utsavanand2 for posting some more details and example code.

The issue you're facing is actually the central system not sending you any more requests, because it never receives any reply from the charge point to the `GetConfiguration` request. When you are returning both a `nil` confirmation and a `nil` error in the example callback, you are in fact not sending a reply to the central syste

[2021-08-02 07:57] utsavanand2 commented on #66
Thanks a lot @lorenzodonini ! Infact this is what I was suspecting as well, that we should never return both confirmation and the error as nil. Unfortunately I don't have any access to the firmware that our manufacturer produces, that is why I connected a raspberry pi and ran the charge point library to reproduce the issue. We have already raised an issue with the manufacturer and they are looking

[2021-08-04 11:29] utsavanand2 opened #108 "Make ConfigurationKey specification compatible with ocpp1.6"
### Issue
Make the ConfigurationKey struct's ReadOnly element required

### Description
While going through the OCPP 1.6 documentation around `KeyValue` for `GetConfiguration`, I noticed, `readonly` is described as required.

<img width="1133" alt="Screenshot 2021-08-04 at 4 59 11 PM" src="https://user-images.githubusercontent.com/25264581/128173333-c2bf4217-db27-4f42-b8f6-079b6461a45c.png">

###

[2021-08-04 12:19] utsavanand2 commented on #108
Just realised that the bool will have a default value anyway, and hence the required tag of the validator is not "required" (no pun intended) at all.

For reference: https://github.com/go-playground/validator/issues/319

[2021-08-04 12:19] #108 closed

[2021-09-12 14:12] andig opened #115 "Clarify central system configuration with /path suffix"
I've not looked at the spec, but running CP against CS, both using this lib, I'm confused why the CS URI is suffixed with the CP ID in https://github.com/lorenzodonini/ocpp-go/blob/master/ocppj/client.go#L83. Shouldn't the CP connect to the CS URI as given?

Note: with the code as given the connection attempt from the CP ends up with:

     websocket: bad handshake, http status: 404 Not Found

[2021-09-12 14:41] utsavanand2 commented on #115
Hi @andig!
Did you initialize the URL as
[code]
?

Actually you don't have to add the CP ID as the suffix to the CS URL if you're using this client library.
You can just use
[code]

[2021-09-12 20:38] andig commented on #115
Did you see the link to client.go above? Why does the code append the chargepoint id when connecting to the CS?

[2021-09-13 06:52] andig commented on #115
Think I got it. The chargepoint id is appended as last url segment. I was expecting the it to be transported as part of the messages which doesn't seem to be the case.

[2021-09-13 06:59] andig commented on #115
Problem is still there. Then you start the CS using

    "ws://<ip>:<port>/path"

Then clients will fail connecting to the same uri:

    panic: websocket: bad handshake, http status: 404 Not Found

It seems that the mux router that is part of the server does not handle the path segment correctly?

[2021-09-13 07:01] utsavanand2 commented on #115
Yes exactly, if you look at the official OCPP spec it does state to append the charging station ID at the end of the URL as it does in here https://github.com/lorenzodonini/ocpp-go/blob/master/ocppj/client.go#L83

[2021-09-13 07:05] utsavanand2 commented on #115
I believe we do not add the URL as such with this library because it adds that for us in client.go
Did you check out my example? [here](https://github.com/lorenzodonini/ocpp-go/issues/115#issuecomment-917649620).
If it still doesn't work can you please share your code snippet?

[2021-09-13 07:22] andig commented on #115
Looking more through the example folder I see:

    centralSystem.Start(listenPort, "/{ws}")

What is the meaning of the `/{ws}` suffix? Seems if I change that to a different value, the handshake problems come up. Seems @utsavanand2 is not using this suffix?

[2021-09-13 07:27] andig commented on #115
To reproduce, change https://github.com/lorenzodonini/ocpp-go/blob/master/example/1.6/cs/central_system_sim.go like this:

	// Run central system
	path, ok := os.LookupEnv("SERVER_LISTEN_PATH")
	if !ok {
		path = "/{ws}"
	}
	log.Infof("starting central system on port %v and path %v", listenPort, path)
	centralSystem.Start(listenPort, path)
	log.Info("stopped central system")

Then run the example

[2021-09-13 10:20] andig commented on #115
@lorenzodonini could you kindly clarify the meaning of the `listenPath` parameter in `centralSystem.Start(listenPort, listenPath)`? Is `"/{ws}"` as used in the examples a magic value?

[2021-09-13 13:57] lorenzodonini commented on #115
It's not a magic value. It uses the underlying gorilla mux router to register a dynamic HTTP [handler route](https://github.com/gorilla/mux#matching-routes). You could use `somePath/{chargePointID}` in there instead, but you need to have a `{something}` block at the end your listen path to register your server for any client.

The protocol specifies that the client ID must be appended to the URL t

[2021-09-13 16:01] andig commented on #115
Thank you so much. Although having worked with Gorilla before I wasn‘t aware of this aspect!

[2021-09-13 16:01] #115 closed

[2021-12-13 16:02] sivabudh opened #119 "OCPP 1.6J - fully compliant?"
Hello,

Is the library fully compliant with OCPP 1.6J?

Thanks!

[2021-12-14 23:10] lorenzodonini commented on #119
Hello, the library is OCPP-J 1.6 compliant (OCPP 2.0.1 coming soon), except for the security extension. I will include the extension as soon as v2.0.1 is finished, since many of the security features are in common.

There are currently no plans to support OCPP-S, as this was dropped from v2 onwards anyway.

Cheers!

[2021-12-15 13:47] #119 closed

[2021-12-15 13:56] sivabudh opened #120 "Go 1.18 - Type Parameters"
[Off-topic; not related to bugs or feature suggestions]

Hi,

I heard that [Go 1.18](https://dev.to/emreodabas/quick-guide-go-118-features-e78) which includes Type Parameters will be released in February 2022.

Do you think the library could potentially benefit from the feature? If you are so willing to entertain the possibility, how would the library be refactored to take advantage of this featur

[2021-12-17 00:51] lorenzodonini commented on #120
I honestly don't see an immediate benefit in using generics for the protocol overall, since every OCPP message is very well defined and statically typed. As a result, I designed the library entirely based on a `Request` and a `Response` interface. Every concrete message is just a struct implementing one of those interfaces.

The feature I would consider as a potential candidate for generics is the

[2021-12-17 11:07] sivabudh commented on #120
Thanks!

[2021-12-17 11:07] #120 closed

[2022-01-03 20:43] xBlaz3kx commented on #103
Hi,

I had a similar issue, when using the Charge Point simulator. After I fixed the Central System CORS check with the suggestion above, another issue persists. Websocket connection keeps shutting down, might be related to  #41.

The funny thing is, the connection was persisted just fine when connecting a Charge Point written with `ocpp-go`.
Also tried connecting with a Phoenixcontact AC controll

[2022-01-03 20:50] daviid5 commented on #103
@xBlaz3kx
Your problem sounds a bit like one I also encountered.
Our chargepoints use the Bender CC613 Controller.
It happens quite often that the chargepoint disconnects, and then again connects to CS.
Until know I have not really looked into this.

But your problem sounds familiar to me.

[2022-01-03 21:28] xBlaz3kx commented on #103
@daviid5
I think it might be the Websocket ping that disconnects the Charge Point, which was mentioned here:

Guess I need to read thoroughly next time 🤣 Any way of getting rid of this issue pernamently?

[2022-01-04 13:20] daviid5 commented on #103
@xBlaz3kx I guess this problem with the ping takes only affect when using browser based simulators, correct?

But I'm using real Charge-Controllers.

[2022-01-04 13:24] xBlaz3kx commented on #103
@daviid5
I think it affects both simulators and real controllers. I've tried Phoenix Contact AC charging controller, and it also gets randomly disconnected from my Central System.

[2022-01-04 13:39] lorenzodonini commented on #103
As @xBlaz3kx correctly noticed, it doesn't matter whether the charge controller is running in the browser or not. If it doesn't send pings, the connection will eventually time out.

I suggest using the `SetTimeoutConfig` to set a longer ping timeout. This way, you can easily verify if that's the cause for the connections being dropped in your case. Let me know.

[2022-01-04 13:58] xBlaz3kx commented on #103
@lorenzodonini `SetTimeoutConfig `definetly works, but is rather a temporary fix for this issue. It would be nice to add an option to disable the ping check to support Websocket implementations without Ping/Pong.

[2022-01-04 23:14] lorenzodonini commented on #103
To effectively disable the ping/pong, you can simply set a timeout value of `0`.

The websocket server runs this after every received message:
[code]
The gorilla websocket docs clearly state that `A zero value for t means reads will not time out.`.

Unless you need to selectively disable pings for specific connections, I believe this would do the trick.

[2022-01-04 23:49] xBlaz3kx commented on #103
@lorenzodonini thanks for the clarification, I didn't go into much detail in the Websocket library.

[2022-01-05 07:56] DerArtem commented on #103
Hello,

the problem is that the ping/pong is implemented the wrong way:

Right now the WS-Server is waiting for a ping from the WS-Client and answers it with a pong. If it does not receive a ping from the client the connection will time out.

However most WS-Clients are not able to send out a ping at all. Epecially Web-Browsers can not send a WS-Ping. The can only reply to a ping with a pong.

The

[2022-01-05 08:52] lorenzodonini commented on #103
[RFC 6455](https://datatracker.ietf.org/doc/html/rfc6455#section-5.5.2) doesn't specify who should send the ping. Any of the endpoints may initiate it. [Mozilla docs](https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers#pings_and_pongs_the_heartbeat_of_websockets) confirm this.
Other libraries (e.g. [python websockets](https://websockets.readthedocs.io/en/stabl

[2022-01-05 16:32] xBlaz3kx commented on #103
@lorenzodonini

I've set the `PingWait `to 0 as proposed to disable the Ping/Pong, however, this did not achieve the desired effect; now it just keeps disconnecting my simulated charge point, and I'm quite sure it does that on a controller as well. Not sure if this is the Gorilla Websocket issue or ocpp-go issue.

[code]

Since I'm posting this, I'd like to ask about an unrelated issue:
MeterValue

[2022-01-17 22:49] lorenzodonini commented on #103
@xBlaz3kx I fixed a bug in the websocket layer that most likely was the issue you are encountering. I also added support for debug logs:
[code]
You can enable logs to see exactly what's happening under the hood.

Let me know if the problem persists.

[2022-01-17 23:59] xBlaz3kx commented on #103
@lorenzodonini Appreciate your hard work! So far I've been impressed with overall experience and code quality of this library. Thank you!

[2022-01-18 00:10] xBlaz3kx commented on #59
@meriororen I've used the first approach, since it makes more sense for our use case. You can separately scale both the REST API and the OCPP service based on the traffic on each service. However, you just wrap/forward OCPP messages to the REST API, which is rather time consuming and pointless, but at the same time allows for appending custom data.

[2022-01-25 17:17] rogeralsing commented on #103
Not using this lib but had related issues in .NET recently.
What is interesting is that the WebSocket specification does not say that a connection should timeout if a ping doesn't get a pong.
It only says a ping should be replied to with a pong, but not what should happen.

What is also relevant is that apparently in some cases pings and pongs are filtered out by various web proxies.

In the end,

[2022-02-23 04:55] fabiolnm opened #123 "Error: unsupported subprotocols [ocpp2.0.1.1] for new client cs001"
Is there a way to fix this error without having to configure the server to accept handshake w/ the ocpp2.0.1.1 protocol header?

### Server log
[code]

### Server
[code]

### Charging Station
[code]

[2022-02-25 10:33] lorenzodonini commented on #123
Hey, thanks for spotting the issue, it's in the constant value of `V201Subprotocol` as you correctly identified (`2.0.1.1` is a typo and obviously incorrect).

I pushed a fix, so you can at least work with this. The default configuration for the CSMS is now to support `ocpp2.0.1`.  The charging station will also negotiate 2.0.1 by default.

I haven't officially marked v2 as released yet, because i

[2022-02-25 14:03] tretmar opened #125 "Concurrent usage of OCPP 1.6 and OCPP 2.0.1"
Hello there!

My company already uses this OCPP go library for OCCP 1.6.
We now want to support OCPP 2.0.1 as well which means we need to able to provide OCPP 1.6 and OCPP 2.0.1 _concurrently_.
We've already tested the OCPP 2.0.1 server against a client simulation and it worked like a charm.

**Problem**
We have a lot of custom logic in our code handling the connections, monitoring, and controllin

[2022-02-27 10:34] fabiolnm commented on #123
Thank you! May I contribute with testing/documentation?

[2022-02-27 18:35] lorenzodonini commented on #125
Hello,

interesting question and not completely unexpected.

If you take a look at all the messages in the callbacks, you'll realize that most of the messages and/or attributes are different between v1.6 and v2.0.1, so it wasn't really possible to unify the two versions from a library perspective, hence the two separate packages. It's literally two different protocols, not just a "version bump".

[2022-02-27 18:39] lorenzodonini commented on #123
Absolutely!
I'll add a contributing section soon, but I definitely appreciate extra help 😄

[2022-03-01 08:19] tretmar commented on #125
Hi @lorenzodonini .
Thank you very much for your really detailed and well structured answer.

It helps us to know that these two versions can be seen as new protocols on a certain level. Even if we can unify them, it will probably cause problems sooner or later. Thus, we are going to try separating the version-specific code parts from our custom logic.

We will let you know when have a brilliant i

[2022-04-07 08:56] Shakirsadiq6 opened #128 "undefined: ws.SetLogger"
Why I'm facing this issue? SetLogger is a function defined in the WS package. I took the example code for CS and CP but everything is working except this WebSockets package. What is the issue and what I'm doing wrong?

[2022-04-07 14:42] hevanto opened #129 "Feature Request: Initialize library in 'relaxed mode'"
### Rationale

I'm currently working on a system to talk to an already installed set of charge points (about 1500).
These charge points communicate OCPP 1.6 but do not conform strict to the spec.

e.g. The charge points will reject the RemoteStartTransaction command if no connectorId is provided. They assume connectorId 0 means that no connectorId is present in the request.
This ofcourse is not po

[2022-04-08 20:52] strowk commented on #51
Could you please update on this? Was 2.0 finished? Branch is not there anymore...

[2022-04-09 10:27] lorenzodonini commented on #128
On master branch the function is defined, so the error doesn't make any sense to me. I would need to get some more context. Could you please share the offending code snippet (including the imports ideally)?

[2022-04-12 05:16] Shakirsadiq6 commented on #128
Actually, I cloned this whole repository and It worked fine. But If I use the code from the examples folder only. I face this error even without a single change in the code. However, commenting on the ws.SetLogger line makes the code work again. But I wanted to establish that WS connection between CP and CS.

[2022-04-19 07:52] lorenzodonini commented on #129
Makes sense, I opened a MR that should help you achieve what you need. I also added a bit of documentation in the readme regarding some more "advanced" features.

In a nutshell:
[code]

Feel free to have a look and leave me some feedback, if you want.

The current limitation is, that you can only disable validation at a package level.
I can imagine supporting this at a per-message level, by passin

[2022-05-06 13:25] hevanto commented on #129
@lorenzodonini
I looked a the PR. It looks ok to me and would work for my current issue.

[2022-05-06 15:09] #129 closed

[2022-05-26 11:03] Shakirsadiq6 opened #131 "1006 ws connection error with tls certificates"
I am using a simultor and it is working with this code snippet:
https://github.com/lorenzodonini/ocpp-go/issues/103#issuecomment-881927977

Now, I would like to have the same functionality using the TLS certificates. I generated the certificates as you have shown in the example folder of this repository. But I am facing an error of "1006 ws connection error" It is working with setupCentralSystem()

[2022-07-10 14:01] xunnew opened #133 "ocpp service stucked ，Every 3 days or so"
websocekt  CP->CS  json data: [2,"28ad5fa3-bde3-4eb7-8427-62bca72c1dec","Heartbeat",{}]
websocekt  CP->CS  json data: [2,"2a513217-43e5-40e1-b01e-62bca8d85e4f","Heartbeat",{}]
websocekt  CP->CS  json data: [2,"33cfae6f-eee8-41de-b557-62bca98442f3","Heartbeat",{}]
websocekt  CP->CS  json data: [2,"d55973d5-c39a-4890-9c16-62bcab311012","Heartbeat",{}]
websocekt  CP->CS  json data: [2,"c02371d0-1b09-

[2022-07-21 16:13] ichili commented on #128
Currently, master branch isn't the one, that is fetched by go get. The code with latest tag - 0.15.0 is outdated. You can tell go to directly use master branch instead of the latest tag by executing `go get github.com/lorenzodonini/ocpp-go/ocpp1.6@master`. this fixed the issue for me.

[2022-07-23 13:48] lorenzodonini commented on #128
I just released v0.16.0, which contains all the fixes currently on master branch. That way, you won't have to specify the branch anymore.

@Shakirsadiq6 can you check, if this solves your issues?

[2022-07-23 14:00] lorenzodonini commented on #103
@rogeralsing I'm very well aware that websocket ping/pongs can be annoying. Relying on heartbeats is definitely a good alternative.

I will try to mitigate some related issues in the future and make it less painful for people using a web simulator. For the time being, disabling the ping/pong entirely should do the trick though.

[2022-07-23 14:00] #103 closed

[2022-07-23 18:39] Shakirsadiq6 commented on #128
@lorenzodonini Thanks.

[2022-07-23 18:39] #128 closed

[2022-07-23 20:39] andig opened #134 "Rel. 0.16 setTimeout"
I've looked at the code and it seems that this is only available for chargepoints, correct? It might make sense to make the readme/ release notes clearer?

[2022-07-24 18:38] lorenzodonini commented on #134
There is a `SetTimeout` method available both in the `ClientDispatcher` and in the `ServerDispatcher`.

Release 0.16 actually only contains the one for the server, while the one for the client was in the codebase beforehand already (see 7c9b55bc). I've updated the release notes, but the feature is indeed supported by both endpoints.

[2022-07-24 20:02] andig commented on #134
Great, thank you!

[2022-07-24 20:02] #134 closed

[2022-08-01 12:48] andig commented on #134
@lorenzodonini have to come back once more. What I'm looking for is a round trip timeout from CS to CP and back, not a physical websocket timeout. I'm currently doing something like

	rc = make(chan error, 1)
	err = ocpp.Instance().ChangeConfiguration(id, func(resp *core.ChangeConfigurationConfirmation, err error) {
		c.log.TRACE.Printf("ChangeMeterConfigurationRequest %T: %+v", resp, resp)

		if

[2022-08-01 17:18] lorenzodonini commented on #134
Hey,

the timeout functionality referred to in the issue actually doesn't depend on a websocket timeout, but simply throws an error if the other endpoint doesn't respond to a `Request` within the specified timeout. This is not necessarily caused by network failure.

If you are looking for an RTT measurement, that's currently not supported (neither by the OCPP specs nor by the websocket library).
T

[2022-08-01 19:10] andig commented on #134
That would be ok- I'm really only interested in "do I get an answer within a reasonable time", no matter what it takes. The way the api is build- can I assume that the answer (i.e. callback) will always be the one matching the request (matching ids or similar)? If yes it could be feasible to have such a roundtrip in the lib?

[2022-08-01 20:22] andig commented on #134
I just re-read your message. That's exactly what I'm looking for! Seems I need to create a `ServerDispatcher` by hand.

[2022-08-01 20:34] andig commented on #134
Mhhm, not quite:

	err = ocpp.Instance().GetConfiguration(id, func(resp *core.GetConfigurationConfirmation, err error) {
		// handle message
		// but cannot return inner error here
	}, []string{})

I think to make this pattern useful, it should be possible to handle/update the error passed to the callback. I'm wondering why this pattern with `err` as parameter is used?

[2022-08-02 06:51] lorenzodonini commented on #134
It's a design choice. The function is asynchronous by nature, so a callback seemed like the easiest solution. Also, since every message can return either a response or an error (protocol specs), it made sense to provide both within the callback.

You can always propagate the error in other ways (e.g. channels).

[2022-08-02 09:14] andig commented on #134
I realise this would be a large and breaking change; would you theoretically consider a structure like:

	err := cs.GetConfiguration(id, func(resp *core.GetConfigurationConfirmation) error {
		// handle message
		// return error
	}, []string{})

The error going into the callback function currently would instead never reach the inner function.

[2022-08-07 09:43] lorenzodonini commented on #134
With your suggested change, the callback would not contain a potential OCPP error, so handling it would need to be done outside of the callback, which is imho annoying because of this reason:
[code]

The difference is really just:
- within the callback, the error was returned by the other endpoint
- the error outside the callback was generated before the request was even sent

Mixing these two tog

[2022-08-19 08:05] utsavanand2 opened #136 "Query regarding dispatcher.SetTimeout"
## Description:
Hi @lorenzodonini :) We use your library at production @daheimladen
We have been having issues with stations connected over WiFi, where at times the stations either would not get or receive ocpp messages from the server, and we would continue to get no response from the stations unless until we restart the station of the csms server itself.
I realised that chaning the [defaultMessa

[2022-08-19 19:41] utsavanand2 commented on #66
Closing this issue as the latest release no longer exhibits these issues :)

[2022-08-19 19:41] #66 closed

[2022-08-20 11:11] lorenzodonini commented on #136
Hey,

the initialization snippet looks good to me, although 8s seems a bit low.
The timeout you are setting simply makes sure an outgoing request is canceled, if no response is received from the charging station within those 8 seconds. This allows you to overcome the issue where charging stations don't reply quickly enough (e.g. because of network issues), but it also means that message is lost. I

[2022-08-20 11:30] lorenzodonini commented on #131
Sounds like a certificate issue, if the same code works before introducing TLS.
1. What's the exact error message you are seeing?
2. What go version are you using?
3. Are you passing the correct certificates to the two endpoints? I have to assume you used the sample script for generating the self-signed certificates, but you may want to run `openssl x509 -in <cert-path> -text` to check for validit

[2022-08-21 12:11] utsavanand2 commented on #136
Hi @lorenzodonini, I switched back to the previous release where we did have some issues with the stations with network issues, but we didn't face a complete downtime for all charging stations. But with the new release of v0.16.0, even the 30 second timeout is giving us this trouble, at this point my belief is the issue is not with the timeout but rather us switching from v0.16.0 from v0.15.0 beca

[2022-08-22 20:29] lorenzodonini commented on #136
[code]
if I understand this right, the charge point sent a request to the CSMS, which never replied, triggering the timeout? Can you verify, whether the CSMS ever received the request?

Btw to enable debug logs you can do this:
[code]
Any logger that adheres to the interface defined in `logging/log.go` will do.

If you could provide a detailed message flow between the two endpoints with debug logs

[2022-08-27 15:31] MingShyanWei opened #137 "How do I specify ConnectId in RemoteStartTransaction?"
Thank you for the source code.
In our case, the charge point has four connectors.
In OPCC 1.6J specification 「6.33. RemoteStartTransaction.req」
connectorId: Optional. Number of the connector on which to start the transaction. connectorId SHALL be > 0
And how to use in ocpp-go

[2022-08-27 15:46] utsavanand2 commented on #137
Hi @MingShyanWei
Have you tried out the examples in the repository yet?
The `RemoteStartTransactionRequest` has a `ConnectorId` filed that you can specify when sending a `RemoteStartTransactionRequest`

https://github.com/lorenzodonini/ocpp-go/blob/632d3cb3eeb9c63687a307002878cafeadea9470/ocpp1.6/core/remote_start_transaction.go#L13

[2022-08-27 20:27] lorenzodonini commented on #137
The `ConnectorId` is an optional field. Optional fields are not in the default signature of the API but may be passed optionally with the following syntax:
[code]

[2022-08-29 02:05] MingShyanWei commented on #137
@utsavanand2  @lorenzodonini   ok!!  thanks a lot

[2022-08-29 02:06] #137 closed

[2022-08-29 03:58] MingShyanWei opened #138 "Has a wrong about GetDiagnosticsRequest parameter?"
In file:
./ocpp1.6/firmware/get_diagnostics.go
<img width="904" alt="image" src="https://user-images.githubusercontent.com/6902864/187120006-5e0f97f9-066d-4d46-a97c-c60702edd4f5.png">

"stopTime" is different from the Specification
<img width="1210" alt="image" src="https://user-images.githubusercontent.com/6902864/187119626-1f1b8395-8738-496e-9cb1-141d7df0f6a8.png">

[2022-08-29 15:19] bhatanku1 opened #139 "How to send optional ...props for BootNotification?"
Hi,

Please pardon it might be a little basic Go doubt. I am trying to send a bootNotification to a backendProvider. The chargingStation.BootNotification method expects **chargePointModel, chargePointVendor**. But how can I set the other optional props like **Iccid,Imsi**, etc while calling this API.

[2022-08-29 15:35] utsavanand2 commented on #139
Hi @bhatanku1 !
You can send such optional values using this syntax:
[code]
Please refer to a similar issue at #137

[2022-08-29 16:58] bhatanku1 commented on #139
Thank you so much for a quick reply @utsavanand2 . It solved my problem. :)

[2022-08-29 20:31] lorenzodonini commented on #139
What @utsavanand2 said. It's the same syntax for every request/response.

You can also do something like:
[code]
or even literally:
[code]
I discourage the latter approach btw, since you'll have less information about which fields are required, while the regular constructor API forces you to set at least the required values.

Also note that if you use these approaches, you will have to perform typ

[2022-08-29 20:31] #139 closed

[2022-08-29 20:50] #138 closed

[2022-08-29 20:51] lorenzodonini commented on #138
Thanks for noticing this. I just merged a fix to master. Will release a new version in the next days.

[2022-09-13 08:28] andig opened #141 "Chargepoint: Handling connection drops"
Consider this simple client:

	chargePoint := ocpp16.NewChargePoint(chargePointId, nil, nil)

	// Set a handler for all callback functions
	handler := new(ChargePointHandler)
	chargePoint.SetCoreHandler(handler)

	go func() {
		for err := range chargePoint.Errors() {
			fmt.Println(err)
		}
	}()

	// Connects to central system
	if err := chargePoint.Start(url); err != nil {
		log.Fatal(err)
	}

	l

[2022-09-14 09:48] xBlaz3kx opened #142 "Configuration management"
Hi @lorenzodonini,

this is not an issue, but rather a discussion. I've seen that you plan to add support for configuration management. I assume that is for OCPP Configuration Variables.

I've already created a very simplified version of a configuration library for managing the OCPP variables. Feel free to check [it](https://github.com/xBlaz3kx/ocppManager-go) out and give feedback or use it as in

[2022-09-14 21:03] lorenzodonini commented on #141
Errors are logged by the library if you [enable verbose logging](https://github.com/lorenzodonini/ocpp-go#verbose-logging).

The correct way to handle a disconnection would be to register a handler on the lower layer:
[code]
This should deliver the information you are looking for (propagated directly from the websocket).

Note that by default the charge point will try to reconnect forever, unless

[2022-09-14 21:24] lorenzodonini commented on #142
Hey @xBlaz3kx , your solution looks very good and it would make sense to somehow integrate it into the lib as configuration management package (we maybe have to adjust a few things, to avoid circular dependencies and so on).

The real challenge imho is implementing a config manager for `v2.0.1`. The model is completely redesigned and the amount of supported keys is huge. It requires some work to s

[2022-09-15 06:25] xBlaz3kx commented on #142
I'm up for integrating my solution to this library. Of course, the library will need some adjusting and I will probably need to redesign some segments of the manager.

Yeah, I took a look at the v2.0.1 specification, it really has a lot of profiles and variables, and would really require a good amount of effort. That's great! You can tag me when you've pushed it to a branch and I'll take a look.

[2022-09-16 09:13] bhatanku1 opened #143 "Chargepoint.Stop does not return an error and crashes if provider is not available"
I am trying to connect to the Steve Backend Provider. There is a use case where I want to disconnect. For the same I am using the Chargepoint.Stop() method.
`type ChargePoint interface {

	......
	// Stops the charge point routine, disconnecting it from the central system.
	// Any pending requests are discarded.
	Stop()
}
`

For some reason if Steve is not available, this call crashes the client.

[2022-09-18 10:39] lorenzodonini commented on #143
Hey @bhatanku1,

I'm aware that invoking `Stop` on a client on which the `Start` method was never invoked before crashes the client. This is actually by design (the same way you cannot close a TCP connection if it was never opened in the first place).

In general, I wouldn't suggest invoking any methods on the client, as long as the `Start` method hasn't returned. It simply doesn't make sense to a

[2022-09-24 10:47] andig commented on #141
Thank you for the clarification. Unfortunately, I can't get the messaging working. When I use your approach, the chargepoint will never successfully connect to the server:

	dispatcher := ocppj.NewDefaultClientDispatcher(ocppj.NewFIFOClientQueue(0))
	endpoint := ocppj.NewClient(chargePointId, nil, dispatcher, nil, core.Profile, localauth.Profile, firmware.Profile, reservation.Profile, remotetrigge

[2022-09-24 10:51] andig commented on #141
Btw, noticed there's a different default for `NewFIFOClientQueue` in `NewClient` vs `NewChargePoint`.

[2022-09-24 10:54] andig commented on #141
Think I found it. `NewChargePoint` adds the 1.6 Subprotocol to the websocket client which `NewClient` doesn't do.

[2022-09-25 13:36] lorenzodonini commented on #141
I see, [this one](https://github.com/lorenzodonini/ocpp-go/issues/141#issuecomment-1256937178) is actually a bit nasty, since the websocket client is being auto-generated whenever you create a custom ocppj client. This prevents you (and the top-level package) from setting any additional options.

Thanks a lot for submitting a solution so quickly. I will definitely include it, as it solves the prob

[2022-09-25 13:44] lorenzodonini commented on #141
This was most likely a mistake on my side. I was probably conflicted whether I should allow unlimited queue size by default when creating a client or limit it to a reasonable amount and it ended up like that. But I think I'll streamline it to unlimited queue size.

[2022-09-25 14:01] utsavanand2 commented on #136
Issue #133 looks similar. Also is there a relation with the issue #141 ?

[2022-09-25 14:07] lorenzodonini commented on #136
The issue described in #141 is completely separate and not linked to this at all.

#133 might indeed be related though. I'll look into this further and hopefully find a root cause soon.

[2022-09-25 16:53] lorenzodonini commented on #141
FYI @andig https://github.com/lorenzodonini/ocpp-go/pull/147. This should improve upon the points I mentioned above.
Also, dependency cycles are not a thing, since the subProtocol version is only passed from either the `ocpp16` or the `ocpp2` packages.

In your specific case, you'd have to do adjust your code to:
[code]

[2022-09-25 18:08] #141 closed

[2022-09-30 19:58] utsavanand2 commented on #136
Hi @lorenzodonini Upon reading the logs from [here](https://github.com/lorenzodonini/ocpp-go/issues/136#issuecomment-1221533420) and conducting some experiments with the library and my dummy ocpp client, I noticed that we get this error when the charging station client abruptly crashes and disconnects from the server:

`ERRO[2022-10-01T01:09:46+05:30] disconnected from serverwebsocket: close 1008

[2022-10-01 16:34] lorenzodonini commented on #136
@utsavanand2 The error you're seeing occurs when a charging station connects to the server, while the server already holds an open connection with the same charging station. The error occurs on websocket level btw.

Normally, this shouldn't happen, but we decided to [handle this edge case](https://github.com/lorenzodonini/ocpp-go/pull/92), since duplicate IDs can lead to other issues instead.

If

[2022-10-01 16:55] utsavanand2 commented on #136
@lorenzodonini Yes I saw the check on the websocket file where a connection to the same ID was ressponded with the aforementioned code. But again I'm a bit puzzled because this check was there in v0.15.0 and around 3000 connected stations are working fine with it.
In the last months, I've tried to rollout v0.16.0 about 2 to 3 times and after 24-48 hrs the stations would not respond to RFID cards,

[2022-10-04 11:36] utsavanand2 commented on #136
Hi @lorenzodonini :)) Good afternoon, I'll be publishing the beta version of the csms server to production, which means we will again go from v0.15.0 to v0.16.0, this time with debug logs enabled. The motive is to get some debug logs which will help us find the issue to the problem.

I've also forked your repo and added some error logs that might help if we encounter errors like last time (for e.g

[2022-10-12 11:55] utsavanand2 commented on #136
@lorenzodonini I ran some tests yesterday by keeping the library at v0.16.0 but replacing the dispatcher [file](https://github.com/lorenzodonini/ocpp-go/blob/master/ocppj/dispatcher.go) with the version used in v0.15.0 which doesn't use the context timeout, and it worked in production :)

[2022-10-12 20:27] lorenzodonini commented on #136
@utsavanand2 Thanks for collecting some debug logs. Feel free to upload them to any cloud and either send me a link via email or paste it here (maybe obfuscate sensitive data, if any).

I didn't do an extensive load testing, but scaling a sample setup to 100 clients seems to work just fine in my tests. I expect there is some race condition or incorrect state handling that leads to the issue you're

[2022-10-13 17:23] andig commented on #41
@lorenzodonini it's kinda oldish- I'm not sure this still is an issue. Please feel free to close.

[2022-10-13 17:37] andig opened #150 "Logging requests/responses"
It would be nice, if there was a facility for logging *all* requests/responses sent or received by server/client as seen on the websocket. Such logging could be on the websocket (plain) or on the dispatcher level (parsed).

[2022-10-16 09:04] utsavanand2 commented on #136
Hi @lorenzodonini thanks a lot! Can you please drop me an email at utsav@daheimladen.de, I would love to discuss this more in detail, and drop a link to the logs via email :)

[2022-10-16 09:53] #100 closed

[2022-10-16 09:58] lorenzodonini commented on #33
Just as a quick update, the docker images for OCPP 2.0.1 were added recently, so feel free to check them out.

[2022-10-16 09:58] #33 closed

[2022-10-17 19:18] utsavanand2 commented on #136
@lorenzodonini I can be wrong but I was wondering if we should handle the case for when the context is cancelled in `waitForTimeout` https://github.com/lorenzodonini/ocpp-go/blob/d4afed542168676368053156ef60740a0fd204bc/ocppj/dispatcher.go#L575 and delete the pending request as we do it for the case when we get an elapsed timeout?

[2022-10-26 08:05] olga2323 opened #151 "2.0.1. types.SampleValue validation Value"
Hi there,

I discovered an issue with the validation of types.SampleValue.Value, required would exclude 0.0 Values.

[code]

float64 and required will lead to something like `Key: 'VAL.Value' Error:Field validation for 'Value' failed on the 'required' tag`

Please let me know what do you think.

[2022-10-26 08:22] olga2323 opened #152 "SetChargingProfile - Validation issue with ChargingProfilePurposeChargePointMaxProfile"
Dear all,

when using 1.6 and SetChargingProfile like so:

[code]

returns an error when using `types.ChargingProfilePurposeChargePointMaxProfile`, with `ChargingProfilePurposeTxDefaultProfile` it works ok. I could not spot the issue but removing the validation `chargingProfilePurpose` brings success, also using `ChargingProfilePurposeTxDefaultProfile` works.

Lets me know if I can bring more info

[2022-10-27 09:20] sbindzau opened #153 "Abort sending request on dropped connection?"
Is there a way to abort sending a request when the connection is dropped? I found that I can set a DisconnectedHandler to realize that the connection is dropped, but is there a way to cancel the outstanding request?

I know that I can use SetTimeout() on the dispatcher to abort the request and get an error, but it would be cleaner if the dropped connection could trigger that instead of a fixed tim

[2022-10-28 08:16] sbindzau opened #154 "Check if the ocppj client is connected?"
By adding handlers for disconnect and reconnect I can find out and store whether or not the client is connected to the server, but wouldn't it be easier if I could ask the client for that information?

If I create the wsClient and give it to the client at creation, I can keep it and check that with wsClient.IsConnected(), but that breaks the encapsulation in an ugly way, IMO.

Is there another way

[2022-10-29 14:19] andig commented on #150
@lorenzodonini is there any simple way for doing so? Maybe I'm overlooking something?

[2022-10-29 18:20] lorenzodonini commented on #150
Do you mean debug logs? Those can be enabled passing your own logger like this:
[code]

Or do you expect the full raw message to be visible in the logs? I didn't add that since it can be pretty large, depending on the message type. Not something you typically want to see in logs 😅

[2022-10-30 09:17] andig commented on #150
Exactly. For our application (https://evcc.io) ww have optional logging for each physical transport, be it http, modbus, signalr or whatever. This has proven invaluable for diagnosing issues.

One current problem is https://github.com/evcc-io/evcc/discussions/3806#discussioncomment-3884592 where different boxen all seem to fail in different ways, not responding to `GetConfigurationKeys`, doing so

[2022-11-01 08:57] lorenzodonini commented on #151
Hello, thanks for spotting this. It's tricky because in Go the "empty" value for numerical values is literally `0`, so passing a 0 value will cause the validation to fail. I understand that passing a zero value is a perfectly valid use case though.

The only thing I can think of is to remove validation for this field altogether. The downside is that an endpoint may send a completely empty json for

[2022-11-01 08:58] lorenzodonini commented on #152
Hello,

I just tested this and it didn't throw any validation errors at all:
[code]

Is the error being returned on CSMS side or by the charging station? Also, can you confirm what error is being returned specifically?

[2022-11-01 09:15] lorenzodonini commented on #154
In my mind, disconnection/reconnection are events that you wish to be notified by, so you don't have to actively poll.
But such a getter can definitely be added. Would you expect to invoke that function from the top level (instead of from the `wsClient`)?

[2022-11-01 09:18] lorenzodonini commented on #153
Not right now. I am planning to support passing a context for every request, which will allow you to cancel it at anytime. This is not yet the case though.

The dropped connection doesn't trigger a timeout because the websocket will attempt to reconnect. All the queued requests that weren't transmitted already will be retransmitted, so that's why no callback is being called.
It's meant to provide

[2022-11-01 09:20] lorenzodonini commented on #153
FYI my explanation holds only for client implementations. Servers drop the state as soon as a client is disconnected, invoking the respective error callbacks.

[2022-11-01 09:22] lorenzodonini commented on #150
I can add it as an additional debug log for incoming/outgoing requests. It will be just be a huge string as the payload of the log message though. Would that work?

[2022-11-01 09:47] sbindzau commented on #154
Yes, exactly, I'd prefer a top level function to check the connection. Looking at internal objects seems a bit "unsafe" to me.

The state is not to be polled constantly, but some charger behaviour will be different when offline, so I need to keep track of the connection status.

[2022-11-01 10:26] andig commented on #150
Yeah, that would be perfect! Being able to differentiate the messages by chargepoint would be a bonus.

[2022-11-02 12:23] sbindzau commented on #153
If the client is offline for a longer time (hours, days even months) old StatusNotifications can pile up and are not really interesting for the server once connection is established, that's why I want to be able to throw away (some) messages. The timeout will do for now, though

[2022-11-16 20:48] #154 closed

[2022-11-16 20:49] lorenzodonini commented on #154
I added the suggested accessor method. Feel free to have a look.

[2022-11-19 21:07] Clint-Mathews commented on #151
Hey @lorenzodonini, was checking the documentation though it is a required field the value can be zero.
As you said if removing that validation could cause an empty JSON to go in, can't we add custom validation checking if at least any fields have value?
My suggestion might not the best to do but still, it feels like a possible workaround

Even though all the other fields are optional, if none of

[2022-11-25 18:39] lorenzodonini commented on #151
Hey @Clint-Mathews, the `Value` field is not a pointer, so it will always contain a value (fallback being zero). If an empty json actually came in, the parsed value would be `0`. Validation always occurs before/after converting to/from json format, which sadly doesn't allow you to determine whether the json was empty.

The best idea that comes to mind is to make the field a pointer type, which cou

[2022-11-25 18:40] lorenzodonini commented on #125
@ysaakpr you can definitely do that on a networking level, but it won't solve the fact that you need to implement both v1.6 and v2.0.1 callbacks in your code.

Btw the networking layer currently doesn't pass any information about the negotiated subprotocol to the upper layers -> that's why the protocol version needs to be known at startup time.
In other words the current implementation forces you